/* user.css ----------------------------------------------------------------- */
/*QTpro*/
.OutofStock { background-color: #FFCACB; }
.OutofStockAttrib { font-family: Verdana, Arial, sans-serif; font-size: 10px;  background-color: #FFCACB; color: #000000; }

