/* user.css ----------------------------------------------------------------- */
/*QTpro*/
.OutofStock { background-color: #FFCACB; }
.OutofStockAttrib { font-family: Verdana, Arial, sans-serif; font-size: 10px;  background-color: #FFCACB; color: #000000; }
.productSpecialPrice{

  font-weight: bold;
  color: #D8000C;
  /* #ff0000; */
}
.productHolder{
    border:none;
    margin:0,0,0,0;
    padding:0,0,0,0;
}
.productHolder h2{
    font-size: 1em;
}
.grid-group-item {
    margin-bottom: 10px;
}
#bodyContent{
    background-color: white;
}